.dropdown {
    position: relative;
    width: max-content;
}

.dropbtn {
    width: 100%;
    padding: 12px 16px 12px 12px;
    outline: none;
    border: 1px solid var(--black-30-);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    gap: 12px;
}

.dropdown * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.dropdown-options-container {
    background-color: var(--0);
    overflow-y: hidden;
    position: absolute;
    z-index: 100;
    width: 100%;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 10px 20px 0 #48549f40;
}

.dropdown-option {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.dropdown-option-text {
    margin-left: 14px;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    border-radius: 2px;
    position: relative;
    height: 18px;
    width: 18px;
    background-color: var(--5);
}
.container:hover input ~ .checkmark {
    outline: 2px solid var(--1);
}
.container input:checked ~ .checkmark {
    background-color: var(--1);
    outline: none !important;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 3px;
    height: 7.5px;
    border: solid var(--0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
