.invoice-panel-parent {
    background-color: var(--0);
    height: 100svh;
    width: calc(50% + 104px);
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
    z-index: 90;
    padding-top: 56px;
}

.invoice-panel-child {
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    margin-right: 24px;
}

.invoice-panel-background {
    height: 100svh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #00000080;
}

.invoice-panel-main {
    margin-left: 104px;
    padding: 0 24px 16px 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.invoice-panel-input-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.invoice-panel-input-5 {
    display: flex;
    width: 100%;
    margin-top: 24px;
    gap: 24px;
}

.invoice-panel-input-5 .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.invoice-panel-input-5 > * {
    flex: 1;
}

.invoice-panel-main h2 {
    margin-bottom: 24px;
}

.invoice-panel-items-list {
    margin-top: 12px;
}

.invoice-panel-items-names-body {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-direction: column;
}

.invoice-panel-items-names-inputs-parent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.invoice-panel-items-names-inputs-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.invoice-panel-items-names-inputs-total p {
    padding-bottom: 10px;
}
.invoice-panel-items-names-inputs-total h4 {
    padding: 16px 0;
}

.invoice-panel-items-names {
    display: flex;
    padding-bottom: 10px;
}

.invoice-panel-items-names-header {
    display: flex;
    gap: 16px;
    width: 100%;
}

.invoice-panel-items-names-header p {
    color: var(--7);
}

.invoice-panel-items-names-inputs {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.invoice-panel-items-list > button {
    margin-top: 18px;
    width: 100%;
}

.invoice-panel-buttons {
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: var(--0);
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 56px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0px 100px #0000001a;
    padding-top: 32px;
    padding-bottom: 32px;
}

.invoice-panel-buttons-right {
    display: flex;
    gap: 8px;
}

.invoice-panel-input-5 .input-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width <= 1080px) {
    .invoice-panel-parent {
        width: calc(75% + 104px) !important;
    }
}

@media (width <= 768px) {
    .invoice-panel-parent {
        width: 80% !important;
        padding-top: 126px;
    }
    .invoice-panel-main {
        margin: 0;
    }
    .invoice-panel-buttons {
        padding: 32px 56px;
    }
}
@media (width <= 580px) {
    .invoice-panel-parent {
        width: 80% !important;
        padding-top: 80px;
    }
    .invoice-panel-child {
        margin-right: 14px;
    }
    .invoice-panel-main {
        padding: 24px;
    }
    .invoice-panel-buttons {
        padding: 24px;
        margin-top: 40px;
    }
}

@media (width <= 540px) {
    .invoice-panel-parent {
        width: 100% !important;
        border-radius: 0;
    }
    .invoice-panel-input-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .invoice-panel-input-4 > div:nth-child(3) {
        grid-column: span 2;
    }
    .invoice-panel-input-5 {
        flex-direction: column;
    }
}
@media (width <= 430px) {
    .invoice-panel-items-names-inputs-parent {
        align-items: flex-end;
    }
    .invoice-panel-items-names-inputs-parent button {
        margin-bottom: 8px;
    }
    .invoice-panel-items-names-inputs {
        flex-wrap: wrap;
    }
    .invoice-panel-items-names-inputs > *:first-child {
        flex: auto !important;
    }
    .invoice-panel-child {
        margin-right: 8px;
    }
    .invoice-panel-main {
        padding: 16px 8px 16px 16px;
    }
    .invoice-panel-buttons {
        padding: 24px 14px;
        margin-top: 32px;
    }
    .invoice-panel-buttons button {
        padding: 18px 16px;
    }
}

@media (width <= 430px) {
    .invoice-panel-buttons button {
        font-size: 12px !important;
        line-height: normal !important;
    }
}
