.invoice-status {
    align-self: end;
    justify-self: end;
    display: flex;
    min-width: 104px;
    gap: 8px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.invoice-status .round {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
