.side-panel {
    background-color: #373b53;
    height: 100svh;
    width: 104px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.side-panel-profile {
    /* width: 104px;
    height: 88px; */
    padding: 24px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #494e6e;
}

.side-panel-profile img {
    border-radius: 100%;
}

.side-panel-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.side-panel-theme {
    padding: 16px !important;
}

.side-panel-profile-icon {
    padding: 10px !important;
}

.side-panel-theme span,
.side-panel-profile-icon span {
    color: #999999;
}

@media (width <= 768px) {
    .side-panel {
        height: auto;
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }
    .side-panel-logo img {
        width: 80px;
        height: 80px;
    }
    .side-panel-profile {
        padding: 0;
        margin-right: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
}
