.invoice-details-parent {
    width: 85%;
    max-width: 900px;
    margin: 0 0 0 104px;
    padding-top: 77px;
}

.invoice-details-crud {
    background-color: var(--0);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.invoice-details-status {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 24px 0px 24px 32px;
}

.invoice-details-status span {
    color: #858bb2;
}

.invoice-details-edit {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 20px 32px 20px 0px;
}

.invoice-status {
    padding: 12px 18px;
}

.invoice-details {
    background-color: var(--0);
    margin-top: 24px;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.invoice-details span {
    color: var(--7);
}

.invoice-details h3 span {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

.invoice-details-header {
    display: flex;
    justify-content: space-between;
}

.invoice-details-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.invoice-details-vendor-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.invoice-details-vendor-info p {
    color: var(--7);
    text-align: right;
}

.invoice-details-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.invoice-details-client-info p {
    color: var(--7);
}

.invoice-details-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.invoice-details-date {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.invoice-details-due-date {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.invoice-details-client-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.invoice-details-client-name {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.invoice-details-client-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.invoice-details-client-email-skeleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.invoice-details-footer {
    background-color: var(--13);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 24px;
}

.invoice-details-footer-pricing {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.skeleton-invoice-details-footer {
    display: flex;
    justify-content: flex-end;
}

.invoice-details-footer-pricing > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invoice-details-footer-pricing > div > *:not(:first-child) {
    flex: 1;
    text-align: right;
}

.invoice-details-footer-pricing > div > *:first-child {
    flex: 3;
}

.invoice-details-footer-pricing > div > *:nth-child(2) {
    text-align: center;
}

.invoice-details-footer-pricing-header p {
    color: var(--7);
}

.invoice-details-footer-due {
    background-color: var(--14);
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invoice-details-footer-due > * {
    color: var(--0);
}

.invoice-details-parent > button {
    align-self: flex-start;
}

.invoice-details-parent > button span {
    color: #999999;
}

.invoice-details-footer-pricing-item-skeleton > div:first-child {
    justify-content: flex-start;
}

.invoice-details-footer-pricing > div > *:nth-child(2) {
    justify-content: center;
}

.invoice-details-footer-pricing-item-skeleton > div {
    display: flex;
    justify-content: flex-end;
}
.invoice-details-parent {
    display: flex;
    flex-direction: column;
}

.invoice-details-parent .empty-invoices {
    padding: 0;
}

.invoice-details-footer-pricing-item .qty,
.invoice-details-footer-pricing-item .price {
    color: var(--7);
}

.invoice-details-footer-pricing-item-name-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.invoice-details-footer-pricing-item-name-mobile .qty-price {
    color: var(--7);
}

@media (width <= 768px) {
    .invoice-details-parent > button {
        margin-left: 5%;
    }
    .invoice-details-parent {
        width: 100%;
        margin: 0;
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .invoice-details-parent > button{
        margin-top: 15px;
    }
    .invoice-details-crud {
        width: 90%;
        margin-top: 24px;
    }
    .invoice-details {
        width: 90%;
    }
}
@media (width <= 630px) {
    .invoice-details-footer {
        margin-top: 14px;
    }
    .invoice-details-status {
        width: 100%;
        padding: 24px 32px;
        justify-content: space-between;
    }
    .invoice-details-header {
        flex-direction: column;
        gap: 30px;
    }
    .invoice-details-vendor-info {
        align-items: flex-start;
    }
    .invoice-details-body {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 32px;
    }
    .invoice-details-edit-medium {
        box-shadow: 0 0px 100px #0000001a;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 56px;
        background-color: var(--0);
        padding: 22px 24px;
        position: sticky;
        bottom: 0;
    }
}
@media (width <= 530px) {
    .invoice-details,
    .invoice-details-status {
        padding: 24px;
    }
    .invoice-details-footer-pricing {
        padding: 24px;
        gap: 24px;
    }
    .invoice-details-footer-due {
        background-color: var(--14);
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
