.invoices-parent {
    width: 100%;
    max-width: 900px;
    margin: 0 0 0 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 77px; */
}

.invoices-head {
    width: 100%;
    background-color: var(--11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-top: 77px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    top: 0;
    z-index: 80;
}

.invoices-title p {
    color: var(--6);
    padding-top: 3px;
}

.invoices-main {
    width: 98%;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.empty-invoices {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 242px;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
}

.empty-invoices h2 {
    padding-top: 32px;
}

.empty-invoices span {
    color: var(--6);
    width: 192px;
    padding-top: 16px;
}
