.invoices-parent {
    width: 100%;
    max-width: 900px;
    margin: 0 0 0 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice-head-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    padding-top: 77px;
    /* padding-bottom: 32px; */
    /* margin-bottom: 32px; */
    top: 0;
    z-index: 80;
}

.invoices-head {
    width: 100%;
    background-color: var(--11);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.new-invoice-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.new-invoice-btn-container p {
    cursor: pointer;
    color: var(--6);
}
.new-invoice-btn-container span {
    color: var(--0) !important;
}

.invoices-title p {
    color: var(--6);
    padding-top: 3px;
}

.invoices-main {
    width: 100%;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.empty-invoices {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 242px;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
}

.empty-invoices h2 {
    padding-top: 32px;
}

.empty-invoices span {
    color: var(--6);
    width: 192px;
    padding-top: 16px;
}

.search-invoice {
    padding: 0 4px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 4px;
    justify-content: space-between;
}
.search-invoice-left {
    display: flex;
    align-items: center;
    gap: 16px;
}
.search-invoice-right {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
