@font-face {
    font-family: "League Spartan";
    src: url("https://res.cloudinary.com/dke5jqhus/raw/upload/v1703926610/LeagueSpartan-Bold_cclv1e.woff2")
        format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "League Spartan";
    src: url("https://res.cloudinary.com/dke5jqhus/raw/upload/v1703926609/LeagueSpartan-Medium_sbrocu.woff2")
        format("woff2");
    font-weight: 500;
    font-display: swap;
}

:root {
    --0: #ffffff;
    --1: #7c5dfa;
    --2: #9277ff;
    --3: #1e2139;
    --4: #252945;
    --5: #dfe3fa;
    --6: #888eb0;
    --7: #7e88c3;
    --8: #0c0e16;
    --9: #ec5757;
    --10: #ff9797;
    --11: #f8f8fb;
    --12: #141625;
    --13: #f9fafe;
    --14: #373b53;
    --skeleton-light: #ffffff33;
}

body {
    background-color: var(--11) !important;
}

* {
    font-family: "League Spartan";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100dvh;
    display: flex;
    justify-content: center;
}

img {
    display: block;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--8);
}

h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.75px;
    color: var(--8);
}

h3 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: var(--8);
}

h4 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: var(--8);
}

p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--8);
}

.input,
input {
    width: 100%;
}

.light-skeleton.css-1hirv1y-MuiSkeleton-root {
    background-color: var(--skeleton-light) !important;
}

/* Toast */
.go3958317564 {
    margin: 4px 10px 0 10px !important;
}

@media (hover: hover) {
    /* ----- Scrollbar Styles For Firefox ----- */
    * {
        scrollbar-color: var(--5) transparent;
        scrollbar-width: thin;
    }
    *::-moz-scrollbar {
        width: 8px;
    }
    *::-moz-scrollbar-thumb {
        background-color: var(--5);
        border-radius: 4px;
    }
    *::-moz-scrollbar-track {
        background-color: transparent;
    }

    /* ----- Scrollbar Styles For Other Browsers ----- */
    *::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: transparent;
    }
    *::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--5);
    }
}

/* Pagination */

.css-lrb33l {
    fill: #7c5dfa !important;
}

.css-1xr9krm {
    font-family: "League Spartan" !important;
    font-weight: 700 !important;
}
